$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$blackish-blue: hsl(234, 17%, 12%);
$violet: #201926;
$brown: rgb(85, 40, 40);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;

  @media (max-width: 800px) {
    font-size: 12px;
  }

  @media (max-width: 550px) {
    font-size: 10px;
  }

  @media (max-width: 370px) {
    font-size: 8px;
  }
}

body {
  min-height: 100vh;
  background-image: url("../images/bg-stars.svg");
  background-color: $violet;
}

main {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15rem;
}

.container {
  width: 750px;
  text-align: center;
  margin-top: 8rem;

  @media (max-width: 800px) {
    width: 500px;
  }

  @media (max-width: 550px) {
    width: 400px;
  }

  @media (max-width: 450px) {
    width: 350px;
  }

  @media (max-width: 370px) {
    width: 250px;
  }

  .header {
    color: white;
    letter-spacing: 0.5rem;
    margin-bottom: 7rem;
  }

  .timer {
    display: flex;
    justify-content: space-between;

    .time-board {
      width: 150px;
      border-radius: 5px;
      font-size: 6rem;
      color: $soft-red;
      background-color: $dark-desaturated-blue;
      padding: 1rem;
      margin-bottom: 1rem;

      @media (max-width: 800px) {
        width: 100px;
        font-size: 4.5rem;
      }

      @media (max-width: 550px) {
        width: 80px;
      }

      @media (max-width: 450px) {
        width: 70px;
        font-size: 3.5rem;
      }

      @media (max-width: 370px) {
        width: 50px;
        font-size: 3rem;
      }
    }

    p {
      color: $grayish-blue;
      letter-spacing: 0.5rem;

      @media (max-width: 450px) {
        font-size: 0.5rem;
        letter-spacing: 0.5rem;
      }
    }
  }
}

footer {
  background-image: url("../images/pattern-hills.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 23vh;
  display: grid;
  place-items: center;

  .socials {
    width: 130px;
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;

    svg {
      cursor: pointer;
      fill: #8385a9;
      transition: 0.3s;

      &:hover {
        fill: $soft-red;
      }
    }
  }
}

.pulse {
  animation: pulse 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes pulse {
	0% {
    transform: scale(.85);
		opacity: 0.6;
		text-shadow: 0 0 4px $brown;
	}
  50% {
    transform: scale(1);
		text-shadow: 0 0 7px $brown;
  }
	100% {
    transform: scale(1);
		opacity: 1;
		text-shadow: 0 0 10px $brown;
	}
}

#timer {
  
}